title {
  color: purple;
  font-size: 75px;
  text-align: center;
  text-shadow: -2px 2px black;
}

h1 {
    color: purple;
    font-size: 50px;
    text-align: center;
}

h2 {
    color: teal;
    font-size: 16px;
}

p {
    color: black;
    font-size: 12px;
}
